extends services.pug

block content
	if error
		each err in error
			.alert.alert-danger(role='alert').w-100
				= err
				button.close(type='button' data-dismiss='alert' aria-label='Fechar')
				span(aria-hidden='true') ×
	else if success
		.alert.alert-success(role='alert').w-100
			= success
			button.close(type='button' data-dismiss='alert' aria-label='Fechar')
				span(aria-hidden='true') ×
				
	card.card-body.col-sm-5
		.row
			p.h1.card-title #{user.fullname}
		div.row
				+stars(user.rating || 0)
		div.row
			img.card-img-top(src=baseurl(`public/upload/${user.photoPath}`) style='width: auto; height: 100px')
		

	card.card-body.col-sm-7
		h1.card-title Endereços Cadastrados
		table.table.table-hover
			caption Endereços
			thead
				tr
					th(scope='col') Rua
					th(scope='col') Nº
					th(scope='col') Cidade
					th(scope='col')
			tbody
				if addresses
					each one,index in addresses
						tr
							td #{one.street}
							td #{one.number}
							td #{one.city}
							td
								form(action=`/address/remove/` method='POST' name=uniqFormKey)
									input.form-control(name='id' type='hidden' value=`${one.id}`)
									button.form-control.btn.btn-danger.btn-sm(type='submit')
										span.fa.fa-times
				else
					tr
						td Nenhum endereço cadastrado
				tr
					td
						button.btn.btn-primary(data-toggle='modal' data-target='#address')
							span.fa.fa-plus
	include addAddress.pug