extends services.pug

block content
	if error
		each err in error
			.alert.alert-danger(role='alert').w-100
				= err
				button.close(type='button' data-dismiss='alert' aria-label='Fechar')
				span(aria-hidden='true') ×
	else if success
		.alert.alert-success(role='alert').w-100
			= success
			button.close(type='button' data-dismiss='alert' aria-label='Fechar')
				span(aria-hidden='true') ×

	.col-4
		.card
			.card-body
				h1.card-title #{viewUser.fullname}
				p
					+stars(viewUser.rating || 0, true)
			img(src=baseurl(`public/upload/${viewUser.photoPath}`)).card-img-bottom

	.col-8
		if user.id === viewUser.id
			.card
				.card-body
					h1.card-title Endereços Cadastrados
					table.table.table-hover
						caption Endereços
						thead
							tr
								th(scope='col') Endereço
								th(scope='col') Cidade
								th(scope='col')
						tbody
							each one, index in viewUser.addresses
								tr
									td.align-middle
										div Rua #{one.street}, #{one.number}
										div Bairro #{one.neighborhood}
									td.align-middle
										div #{one.city}, #{one.province}, #{one.country}
										div #{one.ZIPCode}
									td.align-middle
										form(action=`/address/remove/` method='POST')
											input(name='id' type='hidden' value=one.id)
											button(type='submit').btn.btn-danger
												.fa.fa-times
							else
								tr
									td(colspan=3) Nenhum endereço cadastrado

					button(data-toggle='modal' data-target='#address').btn.btn-primary.card-link
						.fa.fa-plus.mr-1
						| Novo endereço

			include addAddress.pug
