extends index.pug

include mixins.pug

block content
	.card-body
		h1.card-title= service.title
		h4.card-title
			+stars(service['user.rating'] || 0)
		p.card-text= service.description
		p.card-text
			= `Preço: ${service.basePrice} ${mapPricingType(service['serviceCategory.pricingType'])}`
		
		a(href='/services/filter/' + service['serviceCategory.id']).card-link
			= service['serviceCategory.name']
		
	.card-body
		a(href=`/services/hire/${service.id}`).btn.btn-primary Contratar serviço
