extends index.pug

include mixins.pug

block content
	.card.w-100
		.card-body
			h1.card-title= service.title
			.card-title
				+stars(service['user.rating'] || 0, true)
			p.card-text= service.description
			p.card-text
				= `Preço: R$ ${service.basePrice} ${mapPricingType(service['serviceCategory.pricingType'])}`
			
			a(href=`/services/filter/${service['serviceCategory.id']}`).card-link.btn.btn-secondary
				= service['serviceCategory.name']
				
			a(href=`/hire/${service.id}`).card-link.btn.btn-primary
				| Contratar serviço

			a(href=`/user/profile/${service.userId}`).card-link.btn.btn-primary
				| Perfil do prestador
