extends index.pug

include mixins.pug

block content
	form(action=`/services/contract/${service.id}` name=uniqKey method='GET').card.w-100
		.card-body
			h1.card-title= service.title
			h4.card-title
				+stars(service['user.rating'] || 0)
			p.card-text= service.description
			p.card-text
				= `Preço: ${service.basePrice} ${mapPricingType(service['serviceCategory.pricingType'])}`
			
			a(href='/services/filter/' + service['serviceCategory.id']).card-link
				= service['serviceCategory.name']
			
		.card-body
			div.form-group
				input.form-control(type='hidden' value=`${service.id}` name='id')
				button.btn.btn-primary(type='submit') Contratar
