extends ../index.pug
include ../mixins.pug

block header

block inner
	if services
		each sv, index in services
			h1.card-title= sv.title
			.card-columns
				each ct in sv.contracts
					.card.border-0.list-group
						.list-group-item
							h3.mb-0= ct.user.fullname
						.list-group-item
							p
								.fa.mr-2.fa-fw.fa-lg.fa-keyboard-o
								= ct.message
							p
								.fa.mr-2.fa-fw.fa-lg.fa-balance-scale
								+stars (ct.user.rating)
							p
								.fa.mr-2.fa-fw.fa-lg.fa-usd
								= `R$ ${ct.totalPrice.toFixed(2)}`
							p
								.fa.mr-2.fa-fw.fa-lg.fa-calendar-o
								= moment(ct.startDate).format('LLLL')
							p
								.fa.mr-2.fa-fw.fa-lg.fa-clock-o
								= `${ct.expectedDuration} ${translatePricing(sv.serviceCategory.pricingType)}`
							p
								.fa.mr-2.fa-fw.fa-lg.fa-location-arrow
								= `${ct.address.street}, ${ct.address.number}, ${ct.address.neighborhood}, ${ct.address.city}, ${ct.address.province}`
						a(href=`/cpanel/active/complete/${ct.id}`).list-group-item.list-group-item-action
							.fa.mr-2.fa-fw.fa-lg.fa-check
							| Marcar como completo e avaliar
