extends ../index.pug
include ../mixins.pug

block header

block append stylesheet
	style(type='text/css').
		.star-rating {
			direction: rtl
		}
		
		.star-rating label {
			margin: 0;
			padding: 0;
			cursor: pointer
		}

		.star-rating input:checked ~ label > .fa-star-o:before,
		.star-rating label:hover > .fa-star-o:before,
		.star-rating label:hover ~ label > .fa-star-o:before {
			content: "\f005";
		}

block inner
	if services
		each sv, index in services
			.card-columns
				each ct in sv.contracts
					.card.border-0.list-group.mb-5
						if ! ct.accepted && ct.completed
							.list-group-item.list-group-item-warning Recusado
							
						.list-group-item
							h3= sv.title
							p
								.fa.mr-2.fa-fw.fa-lg.fa-usd
								= `R$ ${ct.totalPrice.toFixed(2)}`
							p
								.fa.mr-2.fa-fw.fa-lg.fa-calendar-o
								= moment(ct.startDate).format('LLLL')
							p
								.fa.mr-2.fa-fw.fa-lg.fa-clock-o
								= `${ct.expectedDuration} ${translatePricing(sv.serviceCategory.pricingType)}`
								
						.list-group-item
							h3 Contratado
							p
								.fa.mr-2.fa-fw.fa-lg.fa-user-o
								= sv.user.fullname
							p
								.fa.mr-2.fa-fw.fa-lg.fa-balance-scale
								+stars (sv.user.rating)
								
						.list-group-item
							h3 Contratante
							p
								.fa.mr-2.fa-fw.fa-lg.fa-user-o
								= ct.user.fullname
							p
								.fa.mr-2.fa-fw.fa-lg.fa-balance-scale
								+stars (ct.user.rating)
							p
								.fa.mr-2.fa-fw.fa-lg.fa-location-arrow
								= `${ct.address.street}, ${ct.address.number}, ${ct.address.neighborhood}, ${ct.address.city}, ${ct.address.province}`
							p
								.fa.mr-2.fa-fw.fa-lg.fa-keyboard-o
								= ct.message

						if ct.accepted && !((ct.reviews[0] && ct.reviews[0].sender.id === user.id) || (ct.reviews[1] && ct.reviews[1].sender.id === user.id))
							.list-group-item
								h3.mb-1 Avaliar
								
								form(action='/cpanel/rate' method='POST')
									input(type='hidden' value=ct.id name='contractId')
										
									.form-group
										label(for='message') Mensagem
										textarea(name='message' rows=2).form-control#message
									
									.star-rating.mb-3
										input(type='radio' name='score' required hidden value=5)#s5
										label(for='s5')
											.fa-star-o.fa.fa-fw.fa-lg
										input(type='radio' name='score' required hidden value=4)#s4
										label(for='s4')
											.fa-star-o.fa.fa-fw.fa-lg
										input(type='radio' name='score' required hidden value=3)#s3
										label(for='s3')
											.fa-star-o.fa.fa-fw.fa-lg
										input(type='radio' name='score' required hidden value=2)#s2
										label(for='s2')
											.fa-star-o.fa.fa-fw.fa-lg
										input(type='radio' name='score' required hidden value=1 checked)#s1
										label(for='s1')
											.fa-star-o.fa.fa-fw.fa-lg

									button.btn.btn-primary(type='submit') Enviar avaliação

						else if ct.reviews.length === 2
							each rv in ct.reviews
								.list-group-item
									h3.mb-1 Avaliação do serviço
									p
										.fa.mr-2.fa-fw.fa-lg.fa-user-o
										= `Enviada por ${rv.sender.fullname}`
									p
										.fa.mr-2.fa-fw.fa-lg.fa-balance-scale
										+stars (rv.rating)
									p
										.fa.mr-2.fa-fw.fa-lg.fa-keyboard-o
										= rv.message
