extends ../index.pug
include ../mixins.pug

block header

block content
	.card.w-100
		.card-body
			h4.card-title Contratos pendentes
			table.table.table-hover
				caption Contratos pendentes
				thead
					tr
						th(scope='col') #
						th(scope='col') Serviço
						th(scope='col') Contratante
						th(scope='col') Avaliação
						th(scope='col') Preço total
						th(scope='col') Data marcada
						th(scope='col') Duração
				tbody
					if services
						each sv, index in services
							each ct in sv.contracts
								tr
									th(scope='row')= index + 1
									td #{sv.title}
									td= ct.user.fullname
									td
										+stars (ct.user.rating)
									td= `R$ ${ct.totalPrice.toFixed(2)}`
									td= moment(ct.startDate).format('LLLL')
									td= `${ct.expectedDuration} ${translatePricing(sv.serviceCategory.pricingType)}`
								tr
									td.align-middle
										.fa.fa-level-up.fa-rotate-90
									td(colspan=5).align-middle
										strong= 'Mensagem do contratante: '
										= ct.message
									td.align-middle
										.btn-group.btn-group-sm
											a(href=`/cpanel/pending/accept/${ct.id}`).btn.btn-success.btn-small
												.fa.fa-fw.fa-check
											a(href=`/cpanel/pending/reject/${ct.id}`).btn.btn-danger.btn-small
												.fa.fa-fw.fa-times
						else
							tr
								td(colspan=6).center-text Não há contratos pendentes.
