extends ../index.pug
include ../mixins.pug

block content
	if error
		each err in error
			.alert.alert-danger(role='alert').w-100
				= err
				button.close(type='button' data-dismiss='alert' aria-label='Fechar')
					span(aria-hidden='true') ×

	form(action=`/hire/submit` name=uniqueFormKey method='POST').card-group.w-100
		input(type='hidden' value=service.id name='__serviceId')
		.card.card-body
			h1.card-title Contratar serviço
			.row
				.col-sm-6.form-group
					label Nome de serviço
					input.form-control(disabled type='text' value=service.title)
				.col-sm-3.form-group
					label Categoria do serviço
					input.form-control(disabled type='text' value=service['serviceCategory.name'])
				.col-sm-3.form-group
					label Preço
					.input-group
						.input-group-addon R$
						input.form-control(disabled value=service.basePrice)
						.input-group-addon= mapPricingType(service['serviceCategory.pricingType'])
			.row
				.col-sm-6.form-group
					label Nome do prestador
					input.form-control(disabled type='text' value=service['user.fullname'])
				.col-sm-3.form-group
					label Avaliação do prestador
					h4
						+stars(service['user.rating'])

			.row
				.form-group.col-3
					label Data de início
					input.form-control(required type='date' name='date')

				.form-group.col-2
					label Hora de ínicio
					input.form-control(required type='time' name='time')

				case service['serviceCategory.pricingType']
						when 'Once'
							break
						when 'Hourly'
							.form-group.col-2
								label Tempo de contratação
								.input-group
									input.form-control(required type='text' name='expectedDuration')
									.input-group-addon horas
							break
						when 'Daily'
							.form-group.col-2
								label Tempo de contratação
								.input-group
									input.form-control(required type='text' name='expectedDuration')
									.input-group-addon dias
							break
				.form-group.col-5
					label Endereço
					select.form-control
						if addresses
							each address in addresses
								option(name='addressId' value=`${address.id}`) #{address.street} , #{address.number} 
						else
							option Nenhum endereço cadastrado
			.row
				.form-group.col-12
					label Mensagem para o contratado
					textarea(name='message' rows=2).form-control
			if isLoggedIn
				.form-group
					button.btn.btn-primary(type='submit') Contratar
